---
name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP with tools
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.0"

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v4
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        run: composer install -n --prefer-dist --no-progress

      - name: Tests
        run: | 
          mkdir -p ~/phpunit
          ./vendor/bin/phpunit  --coverage-cobertura=~/phpunit/coverage.xml --coverage-html ~/phpunit/html --log-junit ~/phpunit/junit.xml tests

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: "~/phpunit/coverage.xml"
          badge: true
          hide_complexity: true
          fail_below_min: false
          thresholds: "70 90"
          format: "markdown"
          output: "both"

      - name: Write to Job Summary
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY
